<h1><%= link_to @post.title, post_path(@post) %></h1>
<p>
  <small>Published at <%=l @post.created_at, format: :long %> in <%= @post.category.title %></small>
</p>
<%= @post.description %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              posts_path, :class => 'btn'  %>
</div>
